<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="Red_Social.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <connectionStrings>
		<add name="TwitterConnectionString" connectionString="Data Source=BTMOSS\SQLEXPRESS;Initial Catalog=Twitter;Integrated Security=True"  providerName="System.Data.SqlClient"/>
	</connectionStrings>
 <userSettings>
  <Red_Social.Properties.Settings>
   <setting name="Bitmap" serializeAs="String">
    <value />
   </setting>
  </Red_Social.Properties.Settings>
 </userSettings>
</configuration>